.App {
  /* text-align: center; */
  background-color: #282c34;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.App * {
  box-sizing: border-box;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.panel {
  height: 100vh;
  overflow: scroll;
  padding: 15px;
}

.panel:not(:last-child) {
  border-right: 1px solid darkgrey;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.link {
  color: #b318f0;
}

.label {
  font-size: 8pt;
  font-family: monospace;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
